body{
    background-color:rgb(25, 25, 25);
    color: rgb(187, 187, 187);
    font-family: 'Poppins', sans-serif;
}
a{
    color: rgb(187, 187, 187);
    text-decoration: underline;
}
a:hover{
    color: rgb(255, 255, 255);
}
#summary{
    font-size: 1.2em;
}
#coffee{
    text-decoration: underline;
}
.project_element img{
    width: 40%;
    border-radius: 1em;
    margin-left: 30%;
    margin-top: 10%;
}
.project_title{
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
.project_info{
    text-align: center;
}
.project_element{
    background-color: rgb(30, 30, 30);
    border-radius: 1em;
    height: 100%;
    width: 90%;
    margin: auto;
    line-height: 0.7em;
}


.contact_element{
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6em;
}
.contact_element button{
    font-size: 2em;
    background-color: rgb(25, 25, 25);
    border:rgb(25, 25, 25);
    color: rgb(187, 187, 187);
}
.contact_element button:hover{
    color: rgb(255, 255, 255);
}
.contact_element a{
    text-decoration: none;
}
.contact_element a:hover{
    text-decoration: none;
}